*{
/*    border: solid 1px black; */ 
  font-family:微軟正黑體;
}
body{
  padding:50px;
  display:flex;
  justify-content:center;
  background-color:rgba(83, 138, 0,0.6);
    font-size:15px;
    line-hight:22px;
    color:rgba(255, 255, 255,0.85);
  letter-spacing:1px;
}
.resume{
  display:flex;
  max-width:950px;
  border:solid 6px white;
  position:relative;
}
.left,right{
  padding:15px;}

  .right{
  flex:5;
    padding-top:150px;
}
.left{
  flex:5;
}


ul{
  padding:0px;
  list-style:none;
}
a{
    color:rgba(255, 255, 255,0.85);
  
}
h2{
  
margin:0px;
margin-bottom:25px;  
}
h2::after{
  content:"";
  display:inline-block;
  width:20px;
  height:8px;
  background-color:#C4BD5A;
  margin-left:10px;
}
hr{
  background-color:#C4BD5A;
  border:0px;
  height:5px;
  width:50%;
  display:relative;
  margin-left:0px;
}
h4{
  
margin:0px;
margin-top:40px;  
}
p{
  text-align:justify;
}
.year li{
  padding-left:10px;
  margin-left:20px;
  border-left:solid 2px white;
}
.decoration{
  width:300px;
  height:140px;
  background:linear-gradient(153deg,#C4BD5A,#FFF);
  border-radius:70px 0px 0px 70px;
  position:absolute;
  right:0px;
  top:50px;
    
}
.circle{
  width:50px;
  height:50px;
  background-color: rgba(255,255,255,0.3);
  border-radius:50%;
  position:relative;
   overflow:hidden;
}
.circle::after{
  content:"";
  display:block;
  background-color:rgba(83, 138, 0,0.6);
  width:calc(100% - 20px);
  height:calc(100% - 20px);
 border-radius:50%; 
  position:relative;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  

 
  
}
.p90,.p180,.p270,.p360{
  width:50%;
  height:50%;
  position:absolute;
  left:50%;
  top:0;
  background-color: #C4BD5A; 
}

.p180{
  left:50%;
  top:50%
}

.p270{
 left:0;
  top:50%;
}

.p360{
  left:0;
  top:0;
}
.listLicense .bar{
  width: 70%;
  height: 10px;
  border: solid 2px #C4BD5A;
  border-radius:5px;
}
.value{
  height:100%;
  width:50%;
  background-color: #C4BD5A;
    
}
.value.p70{
   width:70%;
}
.value.p80{
   width:80%;
}
.value.p91{
   width:90%;
}
.value.p100{
   width:100%;
}

.c{
  display:inline;
   margin-left:10px;
}

.ccc{
  width:50px;
  height:50px;
  background-color: rgba(255,255,255,0.3);
  border-radius:50%;
  position:relative;
   overflow:hidden;
  display:inline-block;
  margin-left:20px;
}
.ccc::after{
  content:"";
  display:block;
  background-color:rgba(83, 138, 0,0.6);
  width:calc(100% - 20px);
  height:calc(100% - 20px);
 border-radius:50%; 
  position:relative;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  
  


